@media only screen and (min-width: 992px) {
    *{
        background-color:powderblue;
    }
    h3 {
        padding: 20px 0 5px 5%;
        font-size: 20px;
    }
    #chem, #math, #phys, #name {
        background-color: white;
        border: 2px solid black;
        width: 240px;
        margin: 0 5% 10px 5%;
        height: 40px;
        font-size: 15px;
        border-radius: 5px;
    }
    h2 {
        width: 60%;
        margin: 0 10% 10px 10%;
        text-align: center;
        font-size: 25px;
        position: absolute;
        top: 125px;
        left: 22%;
    }
    #myTable {
        background-color: white;
        margin: 30px 10% 10px 10%;
        text-align: center;
        width: 60%;
        font-size: 15px;
        position: absolute;
        top: 135px;
        left: 22%;
    }
    td, strong {
        background-color: white;
    }
    .buttonstyle {
        position: absolute;
        top: 520px;
        left: 5%;
    }
    .buttonstyle2 {
        position: absolute;
        top: 570px;
        left: 5%;
        width: 240px;
    }
    #enter, #reset {
        margin: 0;
        padding: 5px;
        font-size: 15px;
        font-weight: bold;
        width: 120px;
        background-color: white;
    }
    #studentrank, #studentmark, #avgmark, #export {
        margin: 0 0 20px 0;
        background-color: white;
    }
}