* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: auto;
}
/* For mobile */
[class*="col-"] {
    width: 100%;
}
/*------menu------*/
nav ul {
    list-style-type: none;
    width: 100%;
    text-align: center;
    background-color: white;
    padding: 0;
    position: fixed;
}
li {
    float: left;
    text-align: center;
    background-color: white;
    margin:0;
}
li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 0 5px 0 5px;
    text-decoration: none;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
}

li a:hover, #btn:hover {background-color: gray;}

.logo img {
    width: 55px;
    height: auto;
    cursor: pointer;
   background: white;
   border: none;
}
#btn {
   padding: 13px;
   cursor: pointer;
   background: white;
   border: none;
}
#btn img {
    width: 30px;
    height: auto;
}
#home {
    border: none;
    background: white;
}
.clear { clear:both}
/*------banner------*/
#banner {
    position: relative;
    z-index: -1;
    width: 100%;
    top: 20px;
    margin-bottom: 20px;
}
#banner img {
    width: 100%;
}
/*------search------*/
.searchtool {
    position: fixed;
    z-index: 1;
    top: 0px;
    padding-top: 180px;
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);;
}
.searchtool input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 70%;
    background: #f1f1f1;
    margin-left: 5%;
}
.searchtool button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
.searchtool button:hover {
    background: #0b7dda;
}
.searchtool::after {
    content: "";
    clear: both;
    display: table;
}
#filter {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 30%;
    font-size: 16px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
/*------Top news------*/
#headline-content h3 {
    margin: auto;
    width: 100%;
    padding: 10px 5% 10px 5%;
    background-color:#0b7dda;
    color: white;
}
.news {
    display: block;
    margin: 10px 5% 10px 5%;
    
}
.content-title a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    text-align: justify;
}
.news img {
    width: 100%;
    float:left;
    margin: 5px 0 30px 0;
}
.news-content {
    display:inline-block;
    width: 100%;
}
.news-content h6 {
    display: none;
}
.news-content p {
    text-align: justify;
    font-style:italic;
    padding-top: 5px;

}
.news .news-content a {
    text-decoration: none;
}
#search-content {
    display: none;
    margin: auto;
    width: 100%;
    padding: 10px 5% 10px 5%;
    background-color:#0b7dda;
    color: white;
}
#tiki {
    color: red;
}
.hide {
  display: none !important;
}
/*------footer------*/
footer {
    background-color:#0b7dda;
    padding: 2% 5% 2% 5%;
}
footer p {
    font-style: italic;
    padding: 5px 0 5px 0;
}
.clear {
    clear:both;
}





