* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: auto;
    background-color:teal;
}
/* For mobile */
[class*="col-"] {
    width: 100%;
}
h1 {
    margin: auto;
    padding: 2% 20% 2% 20%;
    width: 100%;
    border-bottom: 8px double gray;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    background-color: goldenrod;
}
h3 {
    padding: 20px 0 5px 10%;
    font-size: 20px;
}
#chem, #math, #phys, #name {
    border: 2px solid black;
    width: 80%;
    margin: 0 10% 10px 10%;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
}
#chem:hover, #math:hover, #phys:hover, #name:hover {
    background-color:silver;
    
}
#enter, #avgmark, #studentrank{
    margin: 10px 0% 10px 10%;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    width: 120px;
}
#reset, #goodStudent, #export {
    margin: 10px 10% 10px 0%;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    float: right;
    width: 120px;
}
#enter:hover, #reset:hover, #goodStudent:hover, #export:hover, #studentrank:hover, #avgmark:hover {
    background-color:silver;
}
h2 {
    width: 80%;
    margin: 0 10% -20px 10%;
    text-align: center;
    font-size: 25px;
}
table {
    border: 1px solid black;
    text-align:center;
    border-collapse: collapse;
    margin: 30px 10% 10px 0%;
}
strong {
    background-color: white;  
}
td {
    border: 1px solid black;
    padding: 5px;
    width: auto 100%;
    height: auto;
    text-align: center;
    background-color: white;
}
#myTable {
    margin: 30px 10% 10px 10%;
    text-align: center;
    width: 80%;
    font-size: 12px;
}
.avg8 {
    color: red;
}
.delete-row {
    background-color: white;
    font-weight:bold;
}
.delete-row:hover {
    background-color: red;
}
